All those environment variables are needed. But you'll need to inject your own value for production environmentPOSTGRES_USER="your_username"POSTGRES_PASSWORD="your_password"POSTGRES_DB="your_database_name"PGADMIN_DEFAULT_EMAIL="your_email@example.com"PGADMIN_DEFAULT_PASSWORD="your_pgadmin_password"DATABASE_URL_DOCKER="postgresql://your_username:your_password@db:5432/your_database_name?schema=public"DATABASE_URL="postgresql://your_username:your_password@localhost:5432/your_database_name?schema=public"JWT_SECRET="bc54021ea9fe8c3486aa9e0389db3dd7a02c9d904ef3f02fca7f708a18348d6436d9454718a235de944ce2b8f59bba6fcfe2b1c15b6806cd1310d2944b2171d3"